<div class="promotion">
  <label for="promo-code">Have A Promo Code?</label>

  <input
    type="text"
    [(ngModel)]="promoCode"
    (keyup.enter)="applyPromoCode()"
  />

  <button type="button" (click)="applyPromoCode()"></button>
</div>

<div class="summary">
  <ul>
    <li>
      Subtotal <span>{{ subTotal | currency: 'VND' }}</span>
    </li>
    <li *ngIf="discount > 0">
      Discount <span>{{ discount | currency: 'VND' }}</span>
    </li>
    <li>
      Tax <span>{{ tax | currency: 'VND' }}</span>
    </li>
    <li class="total">
      Total <span>{{ subTotal - discount + tax | currency: 'VND' }}</span>
    </li>
  </ul>
</div>

<div class="checkout">
  <button type="button">Check Out</button>
</div>
